<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="db_vanhdev"
			 connectionString="Data Source=NGUYENVANANH;Initial Catalog=QuanLyNhanKhau;Persist Security Info=True;User ID=sa;Password=12345;Pooling=False;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<!-- Các connection string khác (giữ lại để sau này dùng) -->
		<add name="db_tieu-van-anh"
			 connectionString="Data Source=.;Initial Catalog=QuanLyNhanKhau;User ID=sa;Password=12345;"
			 providerName="System.Data.SqlClient" />

		<add name="db_huu-khanh"
			 connectionString="Data Source=.;Initial Catalog=QuanLyNhanKhau;User ID=sa;Password=12345;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>